*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}

html,
body,
.wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: clip;

    main {
        flex: 1 1 auto;
    }
}